# Version control
.git
.gitignore

.env
.env.example
1
# IDEs and editors
.idea/
.vscode/
*.iml
*.swp

# Build logs
*.log

# Frontend dependencies
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

.dockerignore
docker-compose.yml
Dockerfile



target/
!target/*.jar
