<!DOCTYPE html>
<html
        lang="en"
        th:replace="~{base :: parent(~{::#content},~{::title},~{::script})}"
        xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${loggedInUser.name} + ' | Dashboard'">Dashboard</title>
</head>
<body>
<div id="content">
    <div th:if="${loggedInUser}">
        <div data-th-replace="~{user/sidebar :: sidebar}"></div>
    </div>

    <div class="sm:pl-64 pt-20 px-4">
        <div class="flex flex-col items-center">
            <h1 class="text-4xl font-bold dark:text-white mb-2">All Your Contacts</h1>
            <p class="text-gray-500 dark:text-gray-400 mb-6">
                Manage and search through your cloud-synced contacts.
            </p>

            <div class="w-full max-w-screen-xl bg-white dark:bg-gray-800 border dark:border-gray-700 rounded-t-xl shadow-sm">

                <div class="flex flex-col md:flex-row items-center justify-between p-4 space-y-4 md:space-y-0">

                    <form
                            data-th-object="${contactSearchForm}"
                            data-th-action="@{'/user/contacts/search'}"
                            method="get"
                            class="flex flex-wrap items-center gap-3"
                    >
                        <div class="min-w-[140px]">
                            <select
                                    data-th-field="*{field}"
                                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:text-white"
                            >
                                <option value="" selected>Select Field</option>
                                <option value="name">Name</option>
                                <option value="phone">Phone</option>
                                <option value="email">Email</option>
                            </select>
                        </div>

                        <div class="relative w-full md:w-80">
                            <div class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none">
                                <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" fill="none" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"/>
                                </svg>
                            </div>
                            <input
                                    data-th-field="*{value}"
                                    type="text"
                                    class="block w-full p-2.5 ps-10 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:text-white"
                                    placeholder="Search for contacts..."
                            />
                        </div>

                        <button
                                type="submit"
                                class="px-5 py-2.5 bg-blue-600 hover:bg-blue-700 text-white font-medium rounded-lg transition"
                        >
                            Search
                        </button>
                    </form>
                    <button
                            type="button"
                            onclick="exportData()"
                            class="px-3 py-2 bg-green-800 hover:bg-green-1000 text-white font-medium rounded transition duration-200 focus:outline-none focus:ring-2 focus:ring-green-500 focus:ring-offset-2">
                        Export
                    </button>
                </div>

                <div class="overflow-x-auto">
                    <table id="contact-table" class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
                        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                        <tr>
                            <th scope="col" class="px-6 py-3">Name</th>
                            <th scope="col" class="px-6 py-3">Phone</th>
                            <th scope="col" class="px-6 py-3">Links</th>
                            <th scope="col" class="px-6 py-3 text-center">Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="c : ${contacts.getContent()}" class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
                            <th scope="row" class="flex items-center px-6 py-4 text-gray-900 whitespace-nowrap dark:text-white">
                                <img
                                        class="w-10 h-10 rounded-full object-cover"
                                        data-th-src="${c.picture}"
                                        onerror="this.onerror=null;this.src='/images/user.png';"
                                        alt="Contact Image"
                                />

                                <div class="ps-3">
                                    <div class="text-base font-semibold" th:text="${c.name}">Name</div>
                                    <i th:if="${c.favorite}"
                                       class="fa-solid fa-heart text-red-500 text-sm animate-pulse"
                                       title="Favorite Contact">
                                    </i>
                                    <div class="font-normal text-gray-400" th:text="${c.email}">email@example.com</div>
                                </div>
                            </th>
                            <td class="px-6 py-4">
                                <div class="flex items-center gap-2 text-gray-900 dark:text-white">
                                    <i class="fa-solid fa-phone text-gray-400 dark:text-gray-500"></i>
                                    <span th:text="${c.phoneNumber}">9876543210</span>
                                </div>
                            </td>
                            <td class="px-6 py-4">
                                <div class="flex items-center gap-3">

                                    <a th:if="${c.websiteLink != null && !c.websiteLink.isEmpty()}"
                                       th:href="${c.websiteLink.startsWith('http') ? c.websiteLink : 'https://' + c.websiteLink}"
                                       target="_blank"
                                       class="text-gray-500 hover:text-blue-600 transition duration-150 p-1 rounded hover:bg-gray-100 dark:hover:bg-gray-700"
                                       title="Visit Website">
                                        <i class="fa-solid fa-link text-base"></i>
                                    </a>

                                    <a th:if="${c.linkedIn != null && !c.linkedIn.isEmpty()}"
                                       th:href="${c.linkedIn.startsWith('http') ? c.linkedIn : 'https://' + c.linkedIn}"
                                       target="_blank"
                                       class="text-gray-500 hover:text-blue-700 transition duration-150 p-1 rounded hover:bg-gray-100 dark:hover:bg-gray-700"
                                       title="View LinkedIn Profile">
                                        <i class="fa-brands fa-linkedin text-lg"></i>
                                    </a>

                                    <span th:if="${(c.websiteLink == null || c.websiteLink.isEmpty()) && (c.linkedIn == null || c.linkedIn.isEmpty())}"
                                          class="text-gray-400 dark:text-gray-600 text-sm italic">
                                        No links
                                    </span>
                                </div>
                            </td>
                            <td class="px-6 py-4 text-center">
                                <div class="flex items-center justify-center gap-3 text-base">

                                    <button th:data-id="${c.id}"
                                            onclick="loadContactdata(event, this.getAttribute('data-id'))"
                                            class="text-gray-400 hover:text-blue-500 transition"
                                            type="button"
                                            title="View Details">
                                        <i class="fa-solid fa-eye"></i>
                                    </button>

                                    <a th:href="@{'/user/contacts/view/' + ${c.id}}" class="text-gray-400 hover:text-green-500 transition" title="Edit Contact">
                                        <i class="fa-solid fa-pen"></i>
                                    </a>

                                    <button th:data-id="${c.id}"
                                            onclick="deleteContact(this.getAttribute('data-id'))"
                                            class="text-gray-400 hover:text-red-500 transition"
                                            type="button"
                                            title="Delete Contact">
                                        <a th:href="@{/user/contacts/delete/{id}(id=${c.id})}"
                                           onclick="deleteContact(event, this.getAttribute('data-id'))"
                                           th:data-id="${c.id}"
                                           class="text-gray-400 hover:text-red-500 transition"
                                           title="Delete Contact">
                                            <i class="fa-solid fa-trash"></i>
                                        </a>
                                    </button>
                                </div>
                            </td>
                        </tr>
                        <tr th:if="${#lists.isEmpty(contacts.getContent())}">
                            <td colspan="4" class="text-center py-10 text-gray-400">
                                No contacts found. Start by adding some!
                            </td>
                        </tr>
                        </tbody>
                    </table>

                    <div
                            data-th-if="${contacts.totalPages > 0}"
                            class="pagination_container bg-white dark:bg-gray-800 p-5 text-center flex justify-center"
                    >
                        <nav aria-label="Page navigation">
                            <ul class="inline-flex -space-x-px text-base h-10 shadow-sm rounded-lg">

                                <li data-th-unless="${contacts.first}">
                                    <a
                                            data-th-href="@{/user/contacts(size=${contacts.size}, page=${contacts.number - 1})}"
                                            class="flex items-center justify-center px-4 h-10 ms-0 leading-tight text-gray-500 bg-white border border-e-0 border-gray-300 rounded-s-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white transition"
                                    >
                                        Previous
                                    </a>
                                </li>

                                <li data-th-each="index : ${#numbers.sequence(0, contacts.totalPages - 1)}">
                                    <a
                                            data-th-href="@{/user/contacts(size=${contacts.size}, page=${index})}"
                                            data-th-classappend="${index == contacts.number ? 'bg-blue-50 text-blue-600 border-blue-300 dark:bg-gray-600 dark:text-white' : 'bg-white text-gray-500 border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white'}"
                                            class="flex items-center justify-center px-4 h-10 leading-tight border transition"
                                    >
                                        <span data-th-text="${index + 1}">1</span>
                                    </a>
                                </li>

                                <li data-th-unless="${contacts.last}">
                                    <a
                                            data-th-href="@{/user/contacts(size=${contacts.size}, page=${contacts.number + 1})}"
                                            class="flex items-center justify-center px-4 h-10 leading-tight text-gray-500 bg-white border border-gray-300 rounded-e-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white transition"
                                    >
                                        Next
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div data-th-replace="~{user/contact_modals :: contact}"></div>
</div>
<script src="https://cdn.jsdelivr.net/npm/@linways/table-to-excel@1.0.4/dist/tableToExcel.min.js"></script>
<script data-th-src="@{'/js/contacts.js'}"></script>
<script>
    console.log("Contacts Dashboard Initialized.");
</script>
<script>
    function exportData() {
       TableToExcel.convert(document.getElementById("contact-table"), {
         name: "contacts.xlsx",
         sheet: {
           name: "Sheet 1",
         },
       });
     }
</script>
</body>
</html>