<!DOCTYPE html>
<html lang="en"
      class="light"
      th:fragment="parent(content,title,script)"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <!-- Use standard th:href for internal CSS -->
    <link rel="stylesheet" th:href="@{/css/output.css}" />
    <link href="https://cdn.jsdelivr.net/npm/flowbite@3.1.2/dist/flowbite.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" />
    <title data-th-replace="${title}">synq</title>
</head>
<body class="dark:bg-gray-800 dark:text-white bg-gray-100">

<!-- Header Section -->
<header>
    <div th:if="${loggedInUser}">
        <div data-th-replace="~{user/user_navbar::user-navbar}"></div>
    </div>
    <div th:unless="${loggedInUser}">
        <div data-th-replace="~{navbar :: navbar}"></div>
    </div>
</header>



<!-- Main Content Area -->
<main>
    <section data-th-replace="${content}"></section>
</main>

<!-- Scripts -->
<script src="https://cdn.jsdelivr.net/npm/flowbite@3.1.2/dist/flowbite.min.js"></script>
<script data-th-src="@{'/js/script.js'}"></script>
<th:block data-th-replace="${script}"></th:block>
</body>
</html>